PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=AQpncAySrCoUUQzQYY9_94rjan1Q2-jW
DB_CONNECTION=pg
PG_HOST=kesavan.db.elephantsql.com
PG_PORT=5432
PG_USER=lhfgrrfd
PG_PASSWORD=iLTj3-m7wpkr-1qW_XYWBWHSiJzeKde1
PG_DB_NAME=lhfgrrfd
MONGODB_CONNECTION=mongodb
# MONGODB_URL=mongodb://localhost:27017
# MONGODB_URL=mongodb+srv://ltisistemas:T3tjAfye8KMN404o@cluster0.94mae.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
MONGODB_URL=mongodb+srv://ltisistemas:T3tjAfye8KMN404o@ltimananger.94mae.mongodb.net/?retryWrites=true&w=majority
MONGODB_DATABASE=ltimananger

# T3tjAfye8KMN404o
